# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
numpy
PyWavelets
scipy
azure.data.tables
azure-storage-blob
scikit-learn
joblib
python-dotenv